<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
<header>
  <nav id="drawer" class="nav">
    <h1 class="nav__title">Kemangi Resto</h1>
    <button class="nav__btn">☰</button>
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://github.com/irfan-fauzi" target="_blank">About Us</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="hero" id="hero">
    <div class="hero__inner">
      <div class="text-wrap">
        <h1>20 ribu<span>/ orang</span></h1>
        <h2>Sarapan Lezat</h2>
        <h3>sarapan bergizi tinggi nutrisi bersama keluarga</h3>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sequi fuga deleniti nemo commodi cum praesentium dolor eos, porro dolorem! Lorem ipsum dolor sit amet.</h4>
        <button class="hero__btn">pesan sekarang</button>
      </div>
      <div class="img-wrap">
        <img src="./images/heros/hero-image_2.jpg" alt="food">
      </div>
    </div>
  </section>
  <section class="article" id="article">
    <h2 class="article__heading">Pelayanan kami</h2>
    <div class="article__list">
      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="">
        <div class="content">
          <h2 class="title">Bring Your Phone Cafe</h2>
          <div class="flex">
            <h3 class="city">Medan</h3>
            <h4 class="rating">4.6</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="">
        <div class="content">
          <h2 class="title">Run The Gun</h2>
          <div class="flex">
            <h3 class="city">Bali</h3>
            <h4 class="rating">4.6</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="">
        <div class="content">
          <h2 class="title">Pangsit Express</h2>
          <div class="flex">
            <h3 class="city">Ternate</h3>
            <h4 class="rating">4.8</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38" alt="">
        <div class="content">
          <h2 class="title">Ducky Duck</h2>
          <div class="flex">
            <h3 class="city">Malang</h3>
            <h4 class="rating">4.7</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/40" alt="">
        <div class="content">
          <h2 class="title">Kafein</h2>
          <div class="flex">
            <h3 class="city">Bali</h3>
            <h4 class="rating">3.8</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/08" alt="">
        <div class="content">
          <h2 class="title">Makan mudah</h2>
          <div class="flex">
            <h3 class="city">Malang</h3>
            <h4 class="rating">4.6</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/32" alt="">
        <div class="content">
          <h2 class="title">Saya Suka</h2>
          <div class="flex">
            <h3 class="city">Surabaya</h3>
            <h4 class="rating">3.6</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/45" alt="">
        <div class="content">
          <h2 class="title">Gigitan Cepat</h2>
          <div class="flex">
            <h3 class="city">Aceh</h3>
            <h4 class="rating">4</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>

      <article class="article__item">
        <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/04" alt="">
        <div class="content">
          <h2 class="title">Fairy Cafe</h2>
          <div class="flex">
            <h3 class="city">Malang</h3>
            <h4 class="rating">3.9</h4>
          </div>
          <p class="desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          </p>
        </div>
      </article>
    </div>
  </section>
</main>

<footer>
  <div class="container">
    <h4>Kemangi resto</h4>
    <p>Copyright © 2021 irfan-fauzi</p>
  </div>
</footer>
</body>
</html>
