<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
<!-- <h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
<header>
  <nav id="drawer" class="nav">
    <h1 class="nav__title">Kemangi Resto</h1>
    <ul class="nav__list">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="#">About Us</a></li>
    </ul>
  </nav>
</header>
<main>
  <div class="hero">
    <div class="hero__inner">
      <div class="text-wrap">
        <h1>20 ribu<span>/ orang</span></h1>
        <h2>Sarapan Lezat</h2>
        <h3>sarapan bergizi tinggi nutrisi bersama keluarga</h3>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sequi fuga deleniti nemo commodi cum praesentium dolor eos, porro dolorem! Lorem ipsum dolor sit amet.</h4>
        <button class="hero__btn">pesan sekarang</button>
      </div>
      <div class="img-wrap">
        <img src="./images/heros/hero-image_2.jpg" alt="food">
      </div>
    </div>
  </div>
  <section>
    
  </section>
</main>

</body>
</html>
