<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
<header>
  <nav id="drawer" class="nav">
    <h1 class="nav__title">Kemangi Resto</h1>
    <ul class="nav__list">
      <li class="nav__item"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="#">About Us</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="hero">
    <div class="hero__inner">
      <div class="text-wrap">
        <h1>20 ribu<span>/ orang</span></h1>
        <h2>Sarapan Lezat</h2>
        <h3>sarapan bergizi tinggi nutrisi bersama keluarga</h3>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid sequi fuga deleniti nemo commodi cum praesentium dolor eos, porro dolorem! Lorem ipsum dolor sit amet.</h4>
        <button class="hero__btn">pesan sekarang</button>
      </div>
      <div class="img-wrap">
        <img src="./images/heros/hero-image_2.jpg" alt="food">
      </div>
    </div>
  </div>
  <section class="list-menu">
    <h4 class="list-menu__title">Pelayanan kami</h4>
    <list-menu></list-menu>
  </section>
</main>

<footer>
  <div class="container">
    <h4>Kemangi resto</h4>
    <p>Copyright © 2021 irfan-fauzi</p>
  </div>
</footer>
</body>
</html>
