.list-menu {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(49, 47, 47);
  &__title {
    text-align: center;
    margin: 4rem 0;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 868px){
  .list-menu{
    &__title{
      font-size: 1.2rem;
    }
  }
}