@import "_base-style";
@import "_header";
@import "_hero";
.list-menu{
  
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(49, 47, 47);
  &__title{
    text-align: center;
    margin: 3rem 0;
    font-size: 2rem;
  }
}
